{% extends 'AppBundle:Operation:edit.html.twig' %}


{% form_theme form 'AppBundle:Form:sale_field-prototype.html.twig' %}


    {% block body_title %}
        <h1>{{ 'sale.labels.self'|trans }} {{ 'crud.labels.edit'|trans }}</h1>
    {% endblock %}

    {% block items %}

        {{ form_row(form.items) }}


    {% endblock %}
