{% extends 'AppBundle::base.html.twig' %}


{% block title %} {{ 'Error' | trans }} {% endblock %}



{% block body %}

    <p>
        {{ 'The requested url does not exist' | trans }}

    </p>

{% endblock %}
