{% extends 'AppBundle::base.html.twig' %}

{% block title %} {{ 'Forbidden' | trans }} {% endblock %}



{% block body %}

<p>
     {{ 'You don\'t have permission to see this page' | trans }}
</p>

{% endblock %}
