{% extends 'AppBundle:Layout:index.html.twig' %}

{% block entityName -%}

    {{ 'category.labels.self'|trans }}

{% endblock %}


{% block extraFieldsTh -%}

{% endblock %}

{% block extraFieldsTd -%}

{% endblock %}


{% block entityLink -%}
    <a href="{{ path('category_show', { 'id': entity.id }) }}">{{ 'crud.labels.show'|trans }} <span class="glyphicon glyphicon-eye-open"></span> </a>
{% endblock %}

