#form_items li{
  list-style: none;

}
body{
  font-family: 'Roboto', sans-serif;
}
#goBack, #saveEntity{
  width: 33%;
}

.row_report_cost , .row_report_income, .row_report_profit, .row_operation_total, .row_product_cost, .row_product_price, .row_product_qty, .row_id, .row_createdAt, .row_updatedAt, .total, .subtotal, .qty, .price, .cost, .row_product_price_list{
  font-family: 'Droid Sans Mono', monospace;
}

label{
  text-transform: uppercase;
}


.items{
  padding-left: 0px;
}


.delete_item{
  text-decoration: none;
  padding-left: 85%;
  font-size: 2em;
  color: #ac2925;
}

#appBundle_search_operation .form-group:first-of-type,#appBundle_search_operation .form-group:nth-of-type(2),{

  [id^=appBundle_search_operation_]{
    width: auto;
    display: inline;
  }
  label{
    display: block;
  }
}

/*Invoice */

#invoice{
  font-family: droid sans mono, monospace;
  table{
    width: 100%;
  }
}

.invoiceHeader{
  td{
    width: 33%;
  }
}




#addItem, .imgPreviewLink{
  font-size: 2em;
  text-decoration: none;
  color: #0f0f0f;
}

.row_updatedAt, .row_createdAt, .row_deleted, .row_address, .row_product_price, .row_product_cost{
  display: none;
}

.row_actions ul{
  padding-left: 0%;
  list-style: none;
}
button[type=submit]{
  display: none;
}
.record_actions, .new_actions{
  display: none;
}

#appBundle_search_operation_submit{
display: block;
}


@media screen and (min-device-width: 768px) and (orientation: landscape){
  .row_updatedAt, .row_createdAt, .row_deleted, .row_address, .row_price, .row_cost{
    display: table-cell;
  }
  .delete_item{
    padding-left: 0px;
  }
  .imgPreview{
    display: none;
  }
}

